.profile {
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

.dark .profile {
    background-color: #000;
    color: #fff;
}

.profile-title {
    font-size: 28px;
    font-weight: bold;
    color: #222;
    margin-bottom: 20px;
}

.dark .profile-title {
    color: #fff;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profile-info {
    padding-right: 15px;
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.dark .profile-info {
    background: #222;
}

.profile-info h4 {
    color: #3730A3;
    font-size: 18px;
    font-weight: 600;
}

.dark .profile-info h4 {
    color: #a3bffa;
}

.profile-info ul {
    list-style: none;
    padding: 0;
}

.profile-info li {
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}

.dark .profile-info li {
    color: #ccc;
}

.profile-about {
    width: 55%;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.dark .profile-about {
    background: #222;
}

.profile-about h4 {
    color: #3730A3;
    font-size: 18px;
    font-weight: 600;
}

.dark .profile-about h4 {
    color: #a3bffa;
}

.profile-about p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 10px;
}

.dark .profile-about p {
    color: #ccc;
}

.profile-bottom-line {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin-top: 30px;
}

.dark .profile-bottom-line {
    background-color: white;
}

@media (max-width: 768px) {
    .profile {
        padding: 20px;
    }

    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-info,
    .profile-about {
        width: 100%;
        margin-bottom: 20px;
    }

    .profile-info {
        text-align: center;
        padding: 15px;
    }

    .profile-about {
        text-align: center;
        padding: 15px;
    }

    .profile-info ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-info li {
        font-size: 16px;
    }

    .profile-about p {
        font-size: 16px;
    }
}